
.destination-list{
  div.dt-container .dt-paging .dt-paging-button{
    padding: 0 !important;
    margin-left: 0;
  }
  .badge-primary{
    background-color: #0488bb;
  }
  .entity-list-table{
    thead{
      th{
        border: 1px solid #ddd !important;
      }
    }
    th, td{
      vertical-align: middle;
    }

    .dev-cog{
      font-size: large;
    }
  }
  .grid-center {
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .b-shadow-fd {
    -webkit-box-shadow: 0 0 5px .5px #c4bfbf;
    -moz-box-shadow: 0 0 5px .5px #c4bfbf;
    box-shadow: 0 0 5px .5px #c4bfbf;
  }
  .b-shadow-lt {
    background-color: #fff !important;
    -webkit-box-shadow: .5px 1px 0 0 #c4bfbf;
    -moz-box-shadow: .5px 1px 0 0 #c4bfbf;
    box-shadow: .5px 1px 0 0 #c4bfbf;
  }
  .entity-summary{
    .summary-card{
      .grid-container {
        grid-column-gap: 1rem;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
      }
      .card-img{
        background-color: #fff;
        border-radius: 1vw;
        height: 6vw;
        padding: .25rem;
        width: 6vw;
        i{
          font-size: 3vw;
        }
      }
      .br-war{
        border: 2px solid orange;
      }
      .br-suc {
        border: 2px solid green;
      }
      .card-detail{
        background: #fff;
        border-bottom-right-radius: 1vw;
        border-left: none;
        border-top-right-radius: 1vw;
        height: 4.75vw;
        margin-left: -2px;
        min-width: 10vw;
        padding: .5rem;
        p {
          font-weight: bolder;
          line-height: 1;
        }
      }
    }
  }
}